@model FilmPuanlamaSitesi.Models.Siniflar.Admin
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin-right:750px; margin-top:100px; color:aqua;">
    <br />
    @using (Html.BeginForm("UpdateAdmin", "Admin", FormMethod.Post))
    {
        <label>ID</label>
        <br />
        @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "readonly" })
        <br />
        <label>Kullanıcı Adı</label>
        <br />
        @Html.TextBoxFor(x => x.KullaniciAd, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.KullaniciAd, "", new { @style = "color:blue" })
        <br />
        <label>Email</label>
        <br />
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Email, "", new { @style = "color:blue" })
        <br />
        <label>Şifre</label>
        <br />
        @Html.TextBoxFor(x => x.Sifre, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Sifre, "", new { @style = "color:blue" })
        <br />
        <div style="margin-top:10px;">
            <button class="btn btn-primary">Update User</button>
        </div>
    }
</div>


