@model FilmPuanlamaSitesi.Models.Siniflar.Genre
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin-right:750px; margin-top:100px; color:aqua;">
    <br />
    @using (Html.BeginForm("UpdateGenre", "AdminGenre", FormMethod.Post))
    {
        <label>ID</label>
        <br />
        @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "readonly" })
        <br />
        <label>Başlık</label>
        <br />
        @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
        <br />
        <label>Film Adı</label>
        <br />
        @Html.TextBoxFor(x => x.FilmAd, new { @class = "form-control" })
        <br />
        <label>Film Linki</label>
        <br />
        @Html.TextBoxFor(x => x.FilmLink, new { @class = "form-control" })
        <br />
        <label>Kategori</label>
        <br />
        @Html.TextBoxFor(x => x.Kategori, new { @class = "form-control" })
        <br />
        <label>Süre</label>
        <br />
        @Html.TextBoxFor(x => x.Sure, new { @class = "form-control" })
        <br />
        <label>Film Resmi</label>
        <br />
        @Html.TextBoxFor(x => x.FilmResim, new { @class = "form-control" })
        <br />
        <div style="margin-top:10px;">
            <button class="btn btn-primary">UPDATE</button>
        </div>
    }
</div>

