@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/FilmSitesi/assets/css/style-star.css">
    <!-- Template CSS -->
    <link href="//fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap"
          rel="stylesheet">
    <!-- Template CSS -->
</head>

<body>

    <!-- header -->
    <header id="site-header" class="w3l-header fixed-top">
        <!--/nav-->
        <nav class="navbar navbar-expand-lg navbar-light fill px-lg-0 py-0 px-3">
            <div class="container">
                <h1>
                    <a class="navbar-brand" href="Index">
                        <span class="fa fa-play icon-log"
                              aria-hidden="true"></span>
                        Fragmanous
                    </a>
                </h1>
                <!-- if logo is image enable this
                        <a class="navbar-brand" href="#index.html">
                            <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                        </a> -->
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <!-- <span class="navbar-toggler-icon"></span> -->
                    <span class="fa icon-expand fa-bars"></span>
                    <span class="fa icon-close fa-times"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active nav-link">
                            @Html.ActionLink("Home", "Index", "Film")
                        </li>
                        <li class="nav-item nav-link">
                            @Html.ActionLink("About", "Index", "About")
                        </li>
                        <li class="nav-item nav-link">
                            @Html.ActionLink("Genre", "Index", "Genre")
                        </li>

                        <li class="nav-item nav-link">
                            @Html.ActionLink("Contact", "Contact", "Film")
                        </li>
                    </ul>
                    <div style="margin-bottom:5px; margin-top:5px;">
                            @Html.ActionLink("Logout", "Login", "LoginPage", null, new { @class = "btn btn-info btn-large" })
                    </div>
                            <!--/search-right-->
                            <!--/search-right-->
                            <div class="search-right">
                                <a href="#search" class="btn search-hny mr-lg-3 mt-lg-0 mt-4" title="search">
                                    Search <span class="fa fa-search ml-3" aria-hidden="true"></span>
                                </a>
                                <!-- search popup -->
                                <div id="search" class="pop-overlay">
                                    <div class="popup">
                                        <form action="#" method="post" class="search-box">
                                            <input type="search" style="background-color:white; color:orangered; font-size:30px;"
                                                   placeholder="Search your Keyword" name="search" required="required" autofocus="">
                                            <button type="submit" class="btn">
                                                <span class="fa fa-search"
                                                      aria-hidden="true"></span>
                                            </button>
                                        </form>
                                        <div class="browse-items">
                                            <h3 class="hny-title two mt-md-5 mt-4">Browse all:</h3>
                                            <ul class="search-items">
                                                <li>@Html.ActionLink("Action", "Genre", "Film")</li>
                                                <li>@Html.ActionLink("Drama", "Genre", "Film")</li>
                                                <li>@Html.ActionLink("Family", "Genre", "Film")</li>
                                                <li>@Html.ActionLink("Thriller", "Genre", "Film")</li>
                                                <li>@Html.ActionLink("Comedy", "Genre", "Film")</li>
                                                <li>@Html.ActionLink("Romantic", "Genre", "Film")</li>
                                                <li>@Html.ActionLink("TV Series", "Genre", "Film")</li>
                                                <li>@Html.ActionLink("Horror", "Genre", "Film")</li>
                                                <li>@Html.ActionLink("Crime", "Genre", "Film")</li>
                                                <li>@Html.ActionLink("Documentary", "Genre", "Film")</li>
                                                <li>@Html.ActionLink("Turkish Cinema", "Genre", "Film")</li>
                                                <li>@Html.ActionLink("Adventure", "Genre", "Film")</li>
                                                <li>@Html.ActionLink("Fantasy", "Genre", "Film")</li>
                                                <li>@Html.ActionLink("Historical", "Genre", "Film")</li>
                                                <li>@Html.ActionLink("Science fiction", "Genre", "Film")</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <a class="close" href="#close">×</a>
                                </div>
                                <!-- /search popup -->
                                <!--/search-right-->
                            </div>


</div>
                <!-- toggle switch for light and dark theme -->
                <div class="mobile-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <div class="mode-container">
                                <label class="theme-switch" for="checkbox">
                                    <input type="checkbox" id="checkbox">

                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </label>
                            </div>
                        </div>
                    </nav>
                </div>
                <!-- //toggle switch for light and dark theme -->
            </div>
        </nav>
        <!--//nav-->
    </header>
    <!-- //header -->
    <!-- RenderBody() -->
    <div>
        @RenderBody()
    </div>
    <!-- //RenderBody()-->
    <!-- footer-66 -->
    <footer class="w3l-footer">
        <section class="footer-inner-main">
            <div class="footer-hny-grids py-5">
                <div class="container py-lg-4">
                    <div class="text-txt">
                        <div class="right-side">
                            <div class="row footer-about">
                                <div class="col-md-3 col-6 footer-img mb-lg-0 mb-4">
                                    <a href="~/FilmSitesi/genre.html">
                                        <img class="img-fluid" src="~/FilmSitesi/assets/images/banner1.jpg"
                                             alt="">
                                    </a>
                                </div>
                                <div class="col-md-3 col-6 footer-img mb-lg-0 mb-4">
                                    <a href="~/FilmSitesi/genre.html">
                                        <img class="img-fluid" src="~/FilmSitesi/assets/images/banner2.jpg"
                                             alt="">
                                    </a>
                                </div>
                                <div class="col-md-3 col-6 footer-img mb-lg-0 mb-4">
                                    <a href="~/FilmSitesi/genre.html">
                                        <img class="img-fluid" src="~/FilmSitesi/assets/images/banner3.jpg"
                                             alt="">
                                    </a>
                                </div>
                                <div class="col-md-3 col-6 footer-img mb-lg-0 mb-4">
                                    <a href="~/FilmSitesi/genre.html">
                                        <img class="img-fluid" src="~/FilmSitesi/assets/images/banner4.jpg"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="row footer-links">


                                <div class="col-md-3 col-sm-6 sub-two-right mt-5">
                                    <h6>Movies</h6>
                                    <ul>
                                        <li>@Html.ActionLink("Movies", "Index", "Film")</li>
                                        <li>@Html.ActionLink("Videos", "Index", "Film")</li>
                                        <li>@Html.ActionLink("English Movies", "Index", "Film")</li>
                                        <li>@Html.ActionLink("Tailor", "Index", "Film")</li>
                                        <li>@Html.ActionLink("Upcoming Movies", "Index", "Film")</li>
                                        <li>@Html.ActionLink("Contact us", "Contact", "Film")</li>
                                    </ul>
                                </div>
                                <div class="col-md-3 col-sm-6 sub-two-right mt-5">
                                    <h6>Information</h6>
                                    <ul>
                                        <li>@Html.ActionLink("Home", "Index", "Film")</li>
                                        <li>@Html.ActionLink("About", "About", "Film")</li>
                                        <li>@Html.ActionLink("Tv Series", "Index", "Film")</li>
                                        <li>@Html.ActionLink("Blog", "Index", "Film")</li>
                                        <li>@Html.ActionLink("Login", "Index", "Film")</li>
                                        <li>@Html.ActionLink("Contact", "Contact", "Film")</li>
                                    </ul>
                                </div>
                                <div class="col-md-3 col-sm-6 sub-two-right mt-5">
                                    <h6>Locations</h6>
                                    <ul>
                                        <li>@Html.ActionLink("Asia", "Genre", "Film")</li>
                                        <li>@Html.ActionLink("France", "Genre", "Film")</li>
                                        <li>@Html.ActionLink("Taiwan", "Genre", "Film")</li>
                                        <li>@Html.ActionLink("United States", "Genre", "Film")</li>
                                        <li>@Html.ActionLink("Korea", "Genre", "Film")</li>
                                        <li>@Html.ActionLink("United Kingdom", "Genre", "Film")</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="below-section">
                <div class="container">
                    <div class="copyright-footer">
                        <div class="columns text-lg-left">
                            <p>
                                &copy; 2020 Filmogram. All rights reserved | Designed by <a href="https://w3layouts.com">W3layouts</a>
                            </p>
                        </div>

                        <ul class="social text-lg-right">
                            <li>
                                <a href="#facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a href="#linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a href="#twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a href="#google"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <!-- copyright -->
            <!-- move top -->
            <button onclick="topFunction()" id="movetop" title="Go to top">
                <span class="fa fa-arrow-up" aria-hidden="true"></span>
            </button>
            <script>
                // When the user scrolls down 20px from the top of the document, show the button
                window.onscroll = function () {
                    scrollFunction()
                };

                function scrollFunction() {
                    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                        document.getElementById("movetop").style.display = "block";
                    } else {
                        document.getElementById("movetop").style.display = "none";
                    }
                }

                // When the user clicks on the button, scroll to the top of the document
                function topFunction() {
                    document.body.scrollTop = 0;
                    document.documentElement.scrollTop = 0;
                }
            </script>
            <!-- /move top -->

        </section>
    </footer>
    <!--//footer-66 -->
</body>

</html>
<!-- responsive tabs -->
<script src="~/FilmSitesi/assets/js/jquery-1.9.1.min.js"></script>
<script src="~/FilmSitesi/assets/js/easyResponsiveTabs.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //Horizontal Tab
        $('#parentHorizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            tabidentify: 'hor_1', // The tab groups identifier
            activate: function (event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#nested-tabInfo');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
            }
        });
    });
</script>
<!-- //responsive tabs -->
<!--/theme-change-->
<script src="~/FilmSitesi/assets/js/theme-change.js"></script>
<!-- //theme-change-->
<script src="~/FilmSitesi/assets/js/owl.carousel.js"></script>
<!-- script for banner slider-->
<script>
    $(document).ready(function () {
        $('.owl-one').owlCarousel({
            stagePadding: 280,
            loop: true,
            margin: 20,
            nav: true,
            responsiveClass: true,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplaySpeed: 1000,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 1,
                    stagePadding: 40,
                    nav: false
                },
                480: {
                    items: 1,
                    stagePadding: 60,
                    nav: true
                },
                667: {
                    items: 1,
                    stagePadding: 80,
                    nav: true
                },
                1000: {
                    items: 1,
                    nav: true
                }
            }
        })
    })
</script>
<!-- //script -->
<script>
    $(document).ready(function () {
        $('.owl-three').owlCarousel({
            loop: true,
            margin: 20,
            nav: false,
            responsiveClass: true,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplaySpeed: 1000,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 2,
                    nav: false
                },
                480: {
                    items: 2,
                    nav: true
                },
                667: {
                    items: 3,
                    nav: true
                },
                1000: {
                    items: 5,
                    nav: true
                }
            }
        })
    })
</script>
<!-- //script -->
<!-- /mid-script -->
<script>
    $(document).ready(function () {
        $('.owl-mid').owlCarousel({
            loop: true,
            margin: 0,
            nav: false,
            responsiveClass: true,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplaySpeed: 1000,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                480: {
                    items: 1,
                    nav: false
                },
                667: {
                    items: 1,
                    nav: true
                },
                1000: {
                    items: 1,
                    nav: true
                }
            }
        })
    })
</script>
<!-- //mid-script -->
<!-- script for owlcarousel -->
<!-- Template JavaScript -->
<script src="~/FilmSitesi/assets/js/jquery.magnific-popup.min.js"></script>
<script>
    $(document).ready(function () {
        $('.popup-with-zoom-anim').magnificPopup({
            type: 'inline',

            fixedContentPos: false,
            fixedBgPos: true,

            overflowY: 'auto',

            closeBtnInside: true,
            preloader: false,

            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });

        $('.popup-with-move-anim').magnificPopup({
            type: 'inline',

            fixedContentPos: false,
            fixedBgPos: true,

            overflowY: 'auto',

            closeBtnInside: true,
            preloader: false,

            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-slide-bottom'
        });
    });
</script>
<!--//-->
<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- disable body scroll which navbar is in active -->
<!--/MENU-JS-->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>
<!--//MENU-JS-->

<script src="~/FilmSitesi/assets/js/bootstrap.min.js"></script>