@model FilmPuanlamaSitesi.Models.Siniflar.About
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin-right:750px; margin-top:100px;">
    <br />
    @using (Html.BeginForm("UpdateAbout", "AdminAbout", FormMethod.Post))
    {
        @Html.LabelFor(x => x.ID)
        <br />
        @Html.TextBoxFor(x => x.ID, new { @readonly = "readonly" })
        <br />
        @Html.LabelFor(x => x.Baslik)
        <br />
        @Html.TextBoxFor(x => x.Baslik)
        <br />
        @Html.LabelFor(x => x.FotoUrl)
        <br />
        @Html.TextBoxFor(x => x.FotoUrl)
        <br />
        @Html.LabelFor(x => x.Aciklama)
        <br />
        @Html.TextBoxFor(x => x.Aciklama)
        <br />
        @Html.LabelFor(x => x.Istatistik)
        <br />
        @Html.TextBoxFor(x => x.Istatistik)
        <div style="margin-top:10px;">
            <button class="btn btn-primary">Update About</button>
        </div>
    }
</div>


