@using FilmPuanlamaSitesi.Models.Siniflar
@model List<About>
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_FilmLayout.cshtml";
}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ABOUT</title>
</head>
<html lang="zxx">
<body>

    <!--/breadcrumbs -->
    <div class="w3l-breadcrumbs">
        <nav id="breadcrumbs" class="breadcrumbs">
            <div class="container page-wrapper">
                <a href="inde@x.html">Home</a> » <span class="breadcrumb_last" aria-current="page">About</span>
            </div>
        </nav>
    </div>
    <!--//breadcrumbs -->
    <!-- /about-->
    <div class="w3l-ab-grids py-5">
        <div class="container py-lg-4">
            <div class="row ab-grids-sec align-items-center">
                <div class="col-lg-6 ab-right">
                    <img class="img-fluid" src="~/FilmSitesi/assets/images/banner1.jpg">
                </div>
                <div class="col-lg-6 ab-left pl-lg-4 mt-lg-0 mt-5">

                    @foreach (var x in Model)
                    {
                        if (@x.ID == 1)
                        {
                            <h3 class="hny-title">@x.Baslik</h3>
                            <p class="mt-3" style="font-size:20px;">
                                @x.Aciklama
                            </p>
                        }
                    }
                </div>
            </div>

            <div class="w3l-counter-stats-info text-center">
                <div class="stats_left">
                    <div class="counter_grid">
                        <div class="icon_info">
                            @foreach (var x in Model)
                            {
                                if (@x.ID == 2)
                                {
                                    <p class="counter">@x.Istatistik</p>
                                    <h4>@x.Baslik</h4>
                                }
                            }

                        </div>
                    </div>
                </div>
                <div class="stats_left">
                    <div class="counter_grid">
                        <div class="icon_info">

                            @foreach (var x in Model)
                            {
                                if (@x.ID == 3)
                                {
                                    <p class="counter">@x.Istatistik</p>
                                    <h4>@x.Baslik</h4>
                                }
                            }

                        </div>
                    </div>
                </div>
                <div class="stats_left">
                    <div class="counter_grid">
                        <div class="icon_info">

                            @foreach (var x in Model)
                            {
                                if (@x.ID == 4)
                                {
                                    <p class="counter">@x.Istatistik</p>
                                    <h4>@x.Baslik</h4>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="stats_left">
                    <div class="counter_grid">
                        <div class="icon_info">

                            @foreach (var x in Model)
                            {
                                if (@x.ID == 5)
                                {
                                    <p class="counter">@x.Istatistik</p>
                                    <h4>@x.Baslik</h4>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- //about-->
    <!--grids-sec1-->
    <section class="w3l-team" id="team">
        <div class="grids-main py-5">
            <div class="container py-lg-4">
                <div class="headerhny-title">

                    @foreach (var x in Model)
                    {
                        if (@x.ID == 6)
                        {
                            <h3 class="hny-title">@x.Baslik</h3>
                        }
                    }

                </div>
                <div class="owl-team owl-carousel owl-theme">
                    <div class="item vhny-grid">
                        <div class="d-grid team-info">
                            <div class="column position-relative">
                                <a href="#url"><img src="~/FilmSitesi/assets/images/a1.jpg" alt="" class="img-fluid rounded team-image" /></a>
                            </div>
                            <div class="column text-center">
                                <h3 class="name-pos"><a href="#url">Dwayne johnson</a></h3>
                            </div>
                        </div>

                    </div>
                    <div class="item vhny-grid">
                        <div class="box16">
                            <div class="d-grid team-info">
                                <div class="column position-relative">
                                    <a href="#url"><img src="~/FilmSitesi/assets/images/a2.jpg" alt="" class="img-fluid rounded team-image" /></a>
                                </div>
                                <div class="column text-center">
                                    <h3 class="name-pos"><a href="#url">Karen Gillan</a></h3>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="item vhny-grid">
                        <div class="box16">
                            <div class="d-grid team-info">
                                <div class="column position-relative">
                                    <a href="#url"><img src="~/FilmSitesi/assets/images/a3.jpg" alt="" class="img-fluid rounded team-image" /></a>
                                </div>
                                <div class="column text-center">
                                    <h3 class="name-pos"><a href="#url">Chris Hemsworth</a></h3>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="item vhny-grid">
                        <div class="box16">
                            <div class="d-grid team-info">
                                <div class="column position-relative">
                                    <a href="#url"><img src="~/FilmSitesi/assets/images/a4.jpg" alt="" class="img-fluid rounded team-image" /></a>
                                </div>
                                <div class="column text-center">
                                    <h3 class="name-pos"><a href="#url">Elton John</a></h3>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="item vhny-grid">
                        <div class="box16">
                            <div class="d-grid team-info">
                                <div class="column position-relative">
                                    <a href="#url"><img src="~/FilmSitesi/assets/images/a5.jpg" alt="" class="img-fluid rounded team-image" /></a>
                                </div>
                                <div class="column text-center">
                                    <h3 class="name-pos"><a href="#url">Liu Yifei</a></h3>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="item vhny-grid">
                        <div class="box16">
                            <div class="d-grid team-info">
                                <div class="column position-relative">
                                    <a href="#url"><img src="~/FilmSitesi/assets/images/a3.jpg" alt="" class="img-fluid rounded team-image" /></a>
                                </div>
                                <div class="column text-center">
                                    <h3 class="name-pos"><a href="#url">Chris Hemsworth</a></h3>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//grids-sec1-->
    <!--/testimonials-->
    <section class="w3l-clients" id="clients">
        <!-- /grids -->
        <div class="cusrtomer-layout py-5">
            <div class="container py-lg-4">
                <div class="headerhny-title">

                    @foreach (var x in Model)
                    {
                        if (@x.ID == 7)
                        {
                            <h3 class="hny-title">@x.Baslik</h3>
                        }
                    }

                </div>
                <!-- /grids -->
                <div class="testimonial-width">
                    <div class="owl-clients owl-carousel owl-theme mb-lg-5">
                        <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <blockquote>
                                        <q>
                                            I liked the site very much. I would recommend it to everyone.
                                        </q>
                                    </blockquote>
                                    <div class="testi-des">
                                        <div class="test-img">
                                            <img src="~/FilmSitesi/assets/images/team1.jpg" class="img-fluid" alt="/">
                                        </div>
                                        <div class="peopl align-self">
                                            <h3>Jenny smith</h3>
                                            <p class="indentity">London</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <blockquote>
                                        <q>
                                            The site is really great, buddy. Just enter the site and enjoy.
                                        </q>
                                    </blockquote>
                                    <div class="testi-des">
                                        <div class="test-img">
                                            <img src="~/FilmSitesi/assets/images/team2.jpg" class="img-fluid" alt="/">
                                        </div>
                                        <div class="peopl align-self">
                                            <h3>Alexander leo</h3>
                                            <p class="indentity">Washington</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <blockquote>
                                        <q>
                                            Visit this site so you don't miss the new trailers. This site is awesome.
                                        </q>
                                    </blockquote>
                                    <div class="testi-des">
                                        <div class="test-img">
                                            <img src="~/FilmSitesi/assets/images/team3.jpg" class="img-fluid" alt="/">
                                        </div>
                                        <div class="peopl align-self">
                                            <h3>Emel Öz</h3>
                                            <p class="indentity">Antalya</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <blockquote>
                                        <q>
                                            You must definitely investigation the site. Really amazing.
                                        </q>
                                    </blockquote>
                                    <div class="testi-des">
                                        <div class="test-img">
                                            <img src="~/FilmSitesi/assets/images/team4.jpg" class="img-fluid" alt="/">
                                        </div>
                                        <div class="peopl align-self">
                                            <h3>Mike Green</h3>
                                            <p class="indentity">Tokyo</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <blockquote>
                                        <q>
                                            This site is great. Come on now and start watching.
                                        </q>
                                    </blockquote>
                                    <div class="testi-des">
                                        <div class="test-img">
                                            <img src="~/FilmSitesi/assets/images/team2.jpg" class="img-fluid" alt="/">
                                        </div>
                                        <div class="peopl align-self">
                                            <h3>Laura gill</h3>
                                            <p class="indentity">Madrid</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <blockquote>
                                        <q>
                                            Come to this site and start watching. Fragmanous is a great site.
                                        </q>
                                    </blockquote>
                                    <div class="testi-des">
                                        <div class="test-img">
                                            <img src="~/FilmSitesi/assets/images/team3.jpg" class="img-fluid" alt="/">
                                        </div>
                                        <div class="peopl align-self">
                                            <h3>Smith Wooden</h3>
                                            <p class="indentity">Paris</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /grids -->
        </div>
        <!-- //grids -->
    </section>
</body>

</html>
<script src="~/FilmSitesi/assets/js/jquery-3.3.1.min.js"></script>
<!-- stats -->
<script src="~/FilmSitesi/assets/js/jquery.waypoints.min.js"></script>
<script src="~/FilmSitesi/assets/js/jquery.countup.js"></script>
<script>$('.counter').countUp();</script>
<!-- //stats -->
<!--/theme-change-->
<script src="~/FilmSitesi/assets/js/theme-change.js"></script>
<!-- //theme-change-->
<script src="~/FilmSitesi/assets/js/owl.carousel.js"></script>
<!-- script for banner slider-->
<script>
    $(document).ready(function () {
        $('.owl-team').owlCarousel({
            loop: true,
            margin: 20,
            nav: false,
            responsiveClass: true,
            autoplay: false,
            autoplayTimeout: 5000,
            autoplaySpeed: 1000,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 2,
                    nav: false
                },
                480: {
                    items: 2,
                    nav: true
                },
                667: {
                    items: 3,
                    nav: true
                },
                1000: {
                    items: 4,
                    nav: true
                }
            }
        })
    })</script>
<script>
    $(document).ready(function () {
        $('.owl-three').owlCarousel({
            loop: true,
            margin: 20,
            nav: false,
            responsiveClass: true,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplaySpeed: 1000,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 2,
                    nav: false
                },
                480: {
                    items: 2,
                    nav: true
                },
                667: {
                    items: 3,
                    nav: true
                },
                1000: {
                    items: 6,
                    nav: true
                }
            }
        })
    })</script>
<!-- //script -->
<!-- for tesimonials carousel slider -->
<script>
    $(document).ready(function () {
        $(".owl-clients").owlCarousel({
            loop: true,
            margin: 40,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: true
                },
                736: {
                    items: 2,
                    nav: false
                },
                1000: {
                    items: 3,
                    nav: true,
                    loop: false
                }
            }
        })
    })</script>
<!-- //script -->
<!-- script for owlcarousel -->
<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });</script>
<!-- disable body scroll which navbar is in active -->
<!--/MENU-JS-->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });</script>
<!--//MENU-JS-->
<script src="~/FilmSitesi/assets/js/bootstrap.min.js"></script>
