@model FilmPuanlamaSitesi.Models.Siniflar.Kullanici
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin-right:750px; margin-top:100px;">
    <br />
    @using (Html.BeginForm("UpdateUser", "Kullanici", FormMethod.Post))
    {
        @Html.LabelFor(x => x.ID)
        <br />
        @Html.TextBoxFor(x => x.ID, new { @readonly = "readonly" })
        <br />
        @Html.LabelFor(x => x.KullaniciAd)
        <br />
        @Html.TextBoxFor(x => x.KullaniciAd)
        <br />
        @Html.LabelFor(x => x.Email)
        <br />
        @Html.TextBoxFor(x => x.Email)
        <br />
        @Html.LabelFor(x => x.Sifre)
        <br />
        @Html.TextBoxFor(x => x.Sifre)
        <br />
        <div style="margin-top:10px;">
            <button class="btn btn-primary">Update User</button>
        </div>
    }
</div>

